body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
    color: #333;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    margin: 16px;
    font-size: 37px;
    color: #007BFF;
}

h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 24px;
    color: #007BFF;
}

.horas-container {
    max-width: 400px;
    width: 100%;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.selector-horas-minutos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px; /* Espacio entre los selectores */
}

.selector-horas-minutos div {
    text-align: center;
    flex: 1; /* Hace que los selectores ocupen el mismo espacio */
}

.selector-horas-minutos label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #555;
}

#hora, #minuto {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    transition: border-color 0.3s, box-shadow 0.3s;
    appearance: none; /* Elimina el estilo predeterminado del select */
    cursor: pointer;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 16px;
}

#hora:hover, #minuto:hover,
#hora:focus, #minuto:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.boton-siguiente {
    display: block;
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.boton-siguiente:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.2);
}

.boton-siguiente:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Estilos responsivos */
@media (max-width: 480px) {
    h2 {
        font-size: 20px;
    }

    .selector-horas-minutos {
        flex-direction: column; /* Apila los selectores en móviles */
    }

    .selector-horas-minutos div {
        margin-bottom: 15px;
    }

    #hora, #minuto {
        font-size: 14px;
    }

    .boton-siguiente {
        font-size: 14px;
        padding: 10px;
    }
}